
@{
    ViewBag.Title = "ActualizarPaqueteria";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <title>Actualizar Paquetería</title>
    <style>



        * {
            box-sizing: border-box;
        }

        body {
            background: #f1c232;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        .Jumbotron-fluid {
            background-color: #e38c09;
            color: whitesmoke;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }

        .pie {
            background-color: #5cbcf7;
            color: whitesmoke;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 10px;
        }

        #btn1, #bt3, #bt2, #btn2, #btn3, #btn4, #btn5, #btn6 {
            background-color: rgb(33, 47, 50 );
            border-color: rgb(33, 47, 50 );
            height: 90px;
            width: 150px;
        }

            #btn1:hover, #btn2:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn3:hover {
                background-color: lightblue;
                color: blue;
            }

        #menC, #menD {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: darkblue;
        }

        h1 {
            font-size: 70px;
            text-align: left;
        }

        h2 {
            text-align: center;
            color: darkblue;
        }

        h4 {
            font-size: 20px;
            text-align: left;
            color: darkblue;
        }

        #car {
            height: 400px;
            width: 1500px;
        }

        #demo {
            text-align: center;
            padding: 15px;
            height: auto;
            width: auto;
        }

        .linea-division {
            width: 100%;
            height: 5px;
            background-color: darkblue;
        }

        p {
            margin: 0;
            color: rgb( 21, 72, 230 );
            display: inline;
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        h3 {
            color: #fff;
            text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 0;
            font-size: 50px;
            font-weight: 500
        }

        h5 {
            font-size: 40px;
            text-align: center;
            font-family: 'Times New Roman';
        }

        #etnosotros {
            text-align: center;
            align-items: center;
            color: blue;
            font-size: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        #nosPad {
            padding: 30px;
        }

        #nos {
            width: 120px;
            height: 100px;
        }

        .navbar-custom {
            background-color: #e37609;
        }

        .box {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin-bottom: 20px;
        }

        .titulo {
            margin-bottom: 30px;
        }

        .botoniz {
            margin-left: 700px;
        }

        .button1 {
            background-color: #914c07;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
        }

        .button2 {
            background-color: #914c07;
            padding: 10px 22px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin-left: 10px;
            font-weight: bold;
        }
        .maincont{
            width: 50%;
        }
    </style>
</head>

<div class="titulo">
    <h5>Actualizar Paqueteria</h5>

</div>
<div class="">
    <button class="button1">< Volver</button>
</div>
<div class="maincont">
    <div class="box">
        <h2>
            Nombre:
            <input type="text">

        </h2>
    </div>


    <div class="box">
        <h2>
            Correo electronico:
            <input type="text">

        </h2>
    </div><div class="box">
        <h2>
            Telefono:
            <input type="text">

        </h2>
    </div>


    <div class="box">
        <input type="image" src='@Url.Content("~/Content/camara.png")' name="submit" width="100" height="148" alt="submit" />

    </div>

    <div class="box">

        <button>Cambiar imagen</button>
    </div>

    <div class="botoniz">
        <button class="button1" type="button">Actualizar</button>
    </div>

</div>
