@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="background-color:coral">

    <div class="row center-block">
        <img src='@Url.Content("~/Img/carpenter.png")' alt="mi logo" width="auto" height="150">
        <h3 style="color:antiquewhite">"Compra de calidad para que no te astilles"</h3>
    </div>

    <div style="font-family:'Times New Roman', Times, serif; padding:20px;">
        <p style="color:blanchedalmond;font-family:'Times New Roman'">
            Has llegado a la Astillita, la web donde encontrarás todo los tipos de herramientas para tus proyectos de carpintería y ebanistería. Busca en nuestra tienda y compra las mejores marcas a los mejores precios.

            Hemos clasificado las herramientas para carpintero según su uso para hacer más fácil tú búsqueda y proporcionarte la mejor experiencia de compra online.

            Y si lo que buscas son herramientas de carpintería eléctricas, no te pierdas el catálogo de cepillos eléctricos y de tornos para madera.
        </p>
        <hr />

        @Html.ActionLink("Iniciar Compras!", "Index", "Productos", null, new { id = "list", @class = "btn btn-success" })
    </div>


</div>